@import url('http://fonts.googleapis.com/css?family=Quicksand&display=swap');
* {
	box-sizing: border-box;
	margin: 0;
}
:root {
	--mainGrey: #f9f9fa;
	--mainBlack: #0a0a0a;
	--mainTransition: all 0.3s linear;
	--mainSpacing: 4px;
}
body {
	font-family: 'Quicksand', sans-serif;
	background: var(--mainGrey);
	color: var(--mainBlack);
	font-size: 18px;
	overflow-x: hidden;
}
